article {
    width: 100%;
    background: #F1FAFE;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

article > header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    margin: -8px;
    cursor: ns-resize;
}

article.open > header {
    cursor: unset;
}