table {
    width: 100%;
    background: #F1FAFE;
    border-spacing: 0 5px;
}

th {
    font: inherit;
    text-align: inherit;
}

thead {
    background: white;
}

th, td {
    padding: 2px 8px;
}

tbody tr:nth-child(2n) {
    background: #FFF;
}